.horizontal-layout {
  display: flex;
  flex-direction: row;
}

.project-box {
  width: 50%;
  height: 100px;
  padding: 5px;
  text-align: center;
}

.ment-box {
  width: 50%;
  padding: 5px;
  text-align: center;
}

.publication-box {
  width: 50%;
  padding: 5px;
  text-align: center;
}

.cert-box {
  width: 50%;
  padding: 5px;
  text-align: center;
}
