.header {
  color: black
}

.name-layout {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  display: flex;
  border-radius: 10%;
}

.profile-box {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100px;
  margin: 5px;
  border: 3px solid lightgrey;
  padding: 5px;
}

.contact-box {
  width: 50%;
  margin: 5px;
  border: 3px solid lightgrey;
  padding: 5px;
}

.name-box {
  width: 50%;
  height: 100px;
  margin: 5px;
  padding: 5px;
}
